<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
</head>
<body>
    <h2>Register a New Account</h2>
    
    <form method="POST" action="/register">
        <label for="username">Choose a Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="password">Choose a Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        
        <input type="submit" value="Register">
    </form>
    
    <br>
    <a href="/">Already have an account? Go to Login</a>
</body>
</html>